name: Data Node Release

on:
  push:
    tags:
      - 'rocksdb-v[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: write

jobs:
  package:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
    steps:
      - uses: actions/checkout@v2
      - name: Build
        working-directory: ./dist
        run: |
          ./build.sh
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: ./dist/rocksdb.deb
